/*
======
Fonts
======
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400|Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sorts+Mill+Goudy&family=Yanone+Kaffeesatz:wght@300&display=swap");
/*
======
Variables
======
*/
:root {
  --primaryColor: #f15025;
  --primaryDarkColor: #c02c03;
  --primaryFont: "Catamaran", sans-serif, "Oswald";
  --slantedFont: "Kaushan Script", cursive;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #ececec;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --maxWidth: 40rem;
  --smallWidth: 85vw;
  --fullWidth: 1170px;
}

/* theme toggle style */
#light,
nav {
  background-color: #f3ebf6;
  color: #222;
}

#light,
body {
  background-color: #f3ebf6;
  height: 100%;
}
#light .switch > i {
  color: rgba(34, 34, 34, 0.664);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(180deg);
  top: 1%;
}

#dark,
nav {
  background-color: rgb(34, 34, 34);
  color: white;
}

#dark .movie-footer {
  background-color: rgb(34, 34, 34);
  color: white;
  margin-top: -10rem;
  z-index: -22;
}

#dark .movie {
  box-shadow: none;
  border: 5px solid #fff;
  border-radius: 0.5rem;
}

#dark .movie img:hover {
  transform: scale(1.1);
}
#light .movie img:hover {
  transform: scale(1.1);
}

#dark .movie:hover {
  box-shadow: none;
  border: 5px solid #f15025;
}
#dark .modal-content {
  background-color: #fafafa;
  color: #222;
  text-align: center;
}

#dark .switch > i {
  color: rgba(255, 255, 255, 0.795);
}
/* end of theme toggle style */

/* materializecss override */
.black {
  background-color: #2e2c2c !important;
}

.switch {
  display: inline-block;
  height: 100%;
}

.switch > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -2rem;
}

/* end of materializecss override */

/*
======
Global Styles
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFont);
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 3rem;
  letter-spacing: var(--mainSpacing);
}
.loading img {
  width: 10rem;
  margin: 0 auto;
}
/*
======
Buttons
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
}

.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
/*
======
Header
======
*/
.header {
  padding: 2rem 0;
}
.logo {
  margin: 0 auto;
  width: 9rem;
}
.header ul {
  display: flex;
  justify-content: space-between;
  width: var(--smallWidth);
  margin: 0 auto;
  margin-top: 2rem;
  max-width: var(--maxWidth);
}
.header ul div {
  display: flex;
  align-items: center;
}
.header a {
  text-transform: capitalize;
  margin: 0 0.25rem;
  font-size: 0.85rem;
  letter-spacing: 2px;
  transition: var(--mainTransition);
}
.header a:hover {
  color: var(--primaryColor);
}
@media screen and (min-width: 768px) {
  .header a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}

/*
======
Hero
======
*/
/* .hero {
  min-height: calc.0h);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(255, 255, 255, 0.1)
    ),
    url("./assets/mainBcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryDarkColor);
} */
.banner {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
}
.hero h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
.hero p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 1.75rem;
}
.btn-hero {
  border-radius: 0;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  background: var(--primaryDarkColor);
  border-color: var(--primaryDarkColor);
  color: var(--mainBlack);
}
.btn-hero:hover {
  color: var(--primaryDarkColor);
}
@media screen and (min-width: 768px) {
  .banner {
    margin-top: 0;
  }

  .hero h1 {
    font-size: 5.3rem;
  }
  .hero p {
    font-size: 2.3rem;
  }
  .btn-hero {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }
}
/*
======
About
======
*/
.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
/*
======
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
/*
======
Movie List
======
*/

.section {
  padding: auto 0;
}
.section-title,
.search-errors {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.movies-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 1.8rem;
  row-gap: auto;
  /* row-gap: 0.4rem; */
  /* align-items: start; */
}
.movie {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 19.69rem;
}
.movie:hover {
  box-shadow: var(--darkShadow);
}
.img-container {
  padding: 0;
  background: rgb(4, 19, 100);
  position: relative;
  overflow: hidden;
  /* height: 14rem; */
}
.movie img {
  transition: var(--mainTransition);
  min-height: 9rem;
}
.movie:hover img {
  opacity: 0.3;
}
.movie-link {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--mainTransition);
}
.rating-link {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--mainTransition);
  font-size: 2rem;
}
.genres-link {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--mainTransition);
  font-size: 2rem;
}
.movie:hover .genres-link {
  opacity: 1;
  color: var(--primaryColor);
  font-weight: 500;
  -webkit-text-stroke: 1px var(--mainWhite);
  -webkit-text-fill-color: var(--primaryColor);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.movie:hover .rating-link {
  opacity: 1;
  color: var(--primaryColor);
  font-weight: 500;
  -webkit-text-stroke: 1px var(--mainWhite);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.movie:hover .movie-link {
  opacity: 1;
}
.movie-footer {
  padding: 0rem 1rem 1rem 1rem;
  padding: auto;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  display: grid;
  grid-template-rows: 1fr auto;
}
.movie-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  margin: auto 0;
  /* margin-top: 0.5rem; */
}

/* .single-movie{

  width: 30vw;
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
} */

.single-info {
  padding-top: 2rem;
}

.single-section {
  text-align: center;
}
.single {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.single img {
  border-radius: var(--mainBorderRadius);
}
.single p {
  font-weight: bold;
  text-transform: capitalize;
}
.single span {
  margin-right: 0.5rem;
}
.single-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .single {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .single-info {
    padding-top: 0;
  }
}

/*
======
Single Movie
======
*/

.single-movie {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 4rem auto;
}

.single-movie article {
  margin-bottom: 3rem;
}
.single-movie-image {
  max-width: 25rem;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.single-movie h1 {
  text-transform: capitalize;
  font-size: 2.3rem;
  letter-spacing: var(--mainSpacing);
}
.single-movie h2 {
  color: var(--primaryColor);
}
.single-movie p {
  line-height: 2;
  letter-spacing: 1px;
}

@media screen and (min-width: 992px) {
  .single-movie {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 3rem;
  }
}
/*
======
form
======
*/
.form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
}

.search-form {
  background: var(--mainWhite);
  padding: 1.25rem 1rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border: none;
  border: 2px solid var(--darkGrey);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

/*
======
Pagination Buttons
======
*/
.pagination-buttons {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.toggled-pagination-buttons {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 3rem;
}

.toggled-pagination-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.page-btn,
.prev-page-btn,
.next-page-btn {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background: transparent;
  transition: var(--mainTransition);
  font-size: 1.2rem;
  color: var(--primaryColor);
  border: none;
}
.page-btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.page-btn-current {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.prev-page-btn,
.next-page-btn {
  border: none;
  color: var(--primaryColor);
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  transition: var(--mainTransition);
}
.prev-page-btn:hover,
.next-page-btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/*
======
Filters Section
======
*/
.filters-section {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: 25rem;
  padding-top: 4rem;
  margin-bottom: -4rem;
}
.filters-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.filters-form .form-control {
  display: block;
  margin-bottom: 0.6rem;
}
.filters-form label {
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}
.filters-form input[type="text"] {
  border: 0.5px solid var(--mainBlack);
  font-size: 0.8rem;
  padding: 0.2rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
}
.filters-form select {
  background: transparent;
  font-size: 0.8rem;
  border-color: var(--mainBlack);
  border-width: 0.5px;
}
.filters-form input[type="checkbox"] {
  margin-right: 0.5rem;
}
.price-group p {
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}
.price-group label {
  display: block;
}
.price-group input {
  margin-right: 0.5rem;
}
.filters-section h6 {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.filters-section hr {
  border: none;
  border-top: 0.5px solid var(--mainBlack);
}
.search-errors {
  margin-top: 8rem;
  font-size: 1.1rem;
  padding: 0 2rem;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20rem;
  height: 20rem;
}

.outline {
  border-bottom: 1px solid var(--primaryColor) !important;
}

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
